.intl-tel-input {
    width:100%;
    height: 100%;
    * {
        outline: none !important;
    }
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.allow-dropdown input[type=text] {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    outline:none;
    border:1px solid rgba(0, 0, 0, 0.23);
    &:hover {
        border-color: rgba(0, 0, 0, 0.87);
   }
   &:focus {
    border-color: #3f51b5;
    border-width: 2px;
   }
}